// .contact_wrapper svg {
//   font-size: 1em;
//   vertical-align: middle;
//   margin-right: 5px;
// }

// .contact-form {
//   padding-top: 20px;

//   button {
//     float: right;
//     background-color: white;
//     color: #050f0b;
//   }

//   button:hover {
//     background-color: #5000ca;
//     color: white;
//   }

//   fieldset {
//     background-color: white;
//   }
// }

// label {
//   font-size: 1.2rem;
//   font-family: 'DomaineDispNar-Medium', sans-serif;
// }

// .form-flex {
//   display: flex;
//   gap: 15px;
//   padding-bottom: 15px;
// }

// .form-flex .MuiFormControl-root {
//   width: 100%;
// }


// form {
//   width: 100% !important;
// }

// .body-form {
//   width: 100% !important;
//   margin-bottom: 15px !important;
// }




//////////////////////////////////////////////////////////////

.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
    margin-top: 40px;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  // fieldset {
  //   background-color: white;
  // }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.field-with-placeholder {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textfield-placeholder {
  width: 100%;
  height: 55px; // Default TextField height
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin-top: -55px;
  box-sizing: border-box;
}
.textfield-placeholder2 {
  width: 100%;
  height: 262px; // Default TextField height
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin-top: -278px;
  box-sizing: border-box;
}




